
        <div class= "container">
            <div class="col-md-4 col-md-offset-4 editar-carac">
                <div class="well">
                
                
                    <div class="panelCarac">
                    	<div ng-if= "ctrl.esCarac()" class="carac">
                        <p class="lead"> <strong> Caracteristicas </strong> </p>
                        <div class="list-group">
                        	<a ng-repeat="caracteristica in ctrl.paisSeleccionado.caracteristicas" class="list-group-item">{{caracteristica}}</a>
                        </div>
                        </div>
                        
                        <div ng-if="ctrl.esConex()" class="conex">
                        <p class="lead"> <strong> Conexiones </strong> </p>
                        <div class="list-group">
                        	<a href="" ng-repeat="conexion in ctrl.paisEditando.get.conexiones" class="list-group-item" ng-click="ctrl.seleccionar(conexion)">{{conexion.nombre}}</a>
                        </div>
                        </div>
                        
                        <div ng-if="ctrl.esLugaresDeInteres()" class="lugares">
                        <p class="lead"> <strong> Lugares de interes </strong> </p>
                        <div class="list-group">
                        	<a href="" ng-repeat="lugarDeInteres in ctrl.paisEditando.get.lugares" class="list-group-item" ng-click="ctrl.seleccionar(lugarDeInteres)">{{lugarDeInteres.nombre}}</a>
                        </div>
                        </div>
                        
                    </div>
                    <a ng-click="ctrl.eliminarSeleccion()" class="btn btn-large btn-primary btn-editar-carac" type="button"> Eliminar</a>
                    
                    
                    
                    <br>
                    <br>
                    <div class="panelInput">
                    	<div ng-if="ctrl.esCarac()">
                        <form>
                            <fieldset>
                                <label>Agregar caracteristica</label>
                                < <!-- input ng-model="ctrl.paisNuevo.caracteristicas"--> type="text" placeholder="Escribi algo prro">
                                <span class="help-block">Ex: Basta chicos</span>
                                </label>
                            </fieldset>
                        </form>
                        </div>
                        
                        <div ng-if="ctrl.esConex()">
                        <div class="list-group">
                        	<a href="" ng-click="ctrl.seleccionAAgregar(pais)" ng-repeat="pais in ctrl.paises" class="list-group-item">{{pais.nombre}}</a>
                        </div>
                        </div>
                        
                        <div ng-if= "ctrl.esLugaresDeInteres()" class="lugares">
                        
                        <div class="list-group">
                        	<a href="" ng-click="ctrl.seleccionAAgregar(lugar)" ng-repeat="lugar in ctrl.lugares" class="list-group-item">{{lugar.nombre}}</a>
                        </div>
                        </div>
                        
                       <a ng-click="ctrl.addSeleccion()" class="btn btn-primary" >Agregar</a>
                        
                    </div>
                    <br>
                    <div class="form-actions">
                        <a ng-click="ctrl.guardar()" type="submit" class="btn btn-primary btn-editar-carac">Guardar cambios</a>
                        <a ng-click="ctrl.cancel()" type="button" class="btn btn-primary btn-editar-carac">Tirar todo a la basura</a>
                    </div>
                </div>
            </div>
        </div>
    