
        <div class= "container">
            <div class="col-md-4 col-md-offset-4 editar-carac">
                <div class="well">
                    <div class="panelCarac">
                    	<div ng-if= "ctrl.esCarac()" class="carac">
                        <p class="lead"> <strong> Caracteristicas </strong> </p>
                        <div class="selector-editar-carac">
                            <select>
                                <option>No le gusta que le corten la loz</option>
                                <option>Suele visitar maiameeeee</option>
                            </select>
                        </div>
                        </div>
                        
                        <div ng-if= "ctrl.esConex()" class="conex">
                        <p class="lead"> <strong> Conexiones </strong> </p>
                        <div class="selector-editar-carac">
                            <select>
                                <option>No le gusta que le corten la loz</option>
                                <option>Suele visitar maiameeeee</option>
                            </select>
                        </div>
                        </div>
                        
                        <div ng-if= "ctrl.esLugaresDeInteres()" class="lugaresInteres">
                        <p class="lead"> <strong> Lugares de interes </strong> </p>
                        <div class="selector-editar-carac">
                            <select>
                                <option>No le gusta que le corten la loz</option>
                                <option>Suele visitar maiameeeee</option>
                            </select>
                        </div>
                        </div>
                        
                    </div>
                    <button class="btn btn-large btn-primary btn-editar-carac" type="button"> Eliminar</button>
                    <br>
                    <br>
                    <div class="panelInput">
                        <form>
                            <fieldset>
                                <label>Agregar caracteristica</label>
                                <input type="text" placeholder="Escribi algo prro">
                                <span class="help-block">Ex: Basta chicos</span>
                                </label>
                            </fieldset>
                        </form>
                    </div>
                    <br>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-editar-carac">Guardar cambios</button>
                        <button type="button" class="btn btn-primary btn-editar-carac">Tirar todo a la basura</button>
                    </div>
                </div>
            </div>
        </div>
    