
<div class="container">

    <div class="row">
		<div class="col-md-2">
		
		</div>
		<div class="col-md-8 text-center"> 
			
			<div class="well">
			<h4> Nombre: <span id="nombre" ng-bind="ctrl.villanoSeleccionado.nombre"></span> </h4>
			<br>
			<input ng-model="ctrl.villanoSeleccionado.nombre">
			<br>	
			<div ng-if="name == 'Ricky Fort'">
				<img src="https://k33.kn3.net/taringa/C/2/1/C/4/8/vagonettas/251.gif?ricardo-fort-gif-transparente-baila-vagonettas">
			</div>
			<div ng-if="name=='allahu akbar'">
				<img src="https://media.giphy.com/media/HhTXt43pk1I1W/giphy.gif">
			</div>
			
			
			<h4> Sexo: <span ng-bind="villanoSeleccionado.sexo"></span></h4>
			<br>
			<input ng-model="villanoSeleccionado.sexo">
			<br>
			<h4> Hobbies </h4>
			
			
			<input type="text" id="hobbie" size="30">
			<button id="addbutton" class="btn btn-primary" type="button" onClick="addHobbie();">Agregar</button>
			<input type="text" id="sena" size="30">
			<button class="btn btn-primary" type="button"  onClick="addHobbie();">Agregar</button>

			</div>




			

		</div>
		
		<div class="col-md-2">
		</div>


    </div>

