
<div>
<div ng-if= "ctrl.esNuevo()" class="page-header">
            
                <h1 class = "text-center"> <strong> Nuevo Villano </strong> </h1>
            </div>
            <div ng-if= "ctrl.esEdit()" class="page-header">
            
                <h1 class = "text-center"> <strong> Editar Villano </strong> </h1>
</div>

    <div class="row">
		<div class="col-md-2">
		
		</div>
		<div class="col-md-8 text-center"> 
			
			<div class="well">
			<h4> Nombre: <span id="nombre" ng-bind="ctrl.villanoSeleccionado.nombre"></span> </h4>
			<br>
			<input ng-model="ctrl.villanoSeleccionado.nombre">
			<br>	
			<div ng-if="name == 'Ricky Fort'">
				<img src="https://k33.kn3.net/taringa/C/2/1/C/4/8/vagonettas/251.gif?ricardo-fort-gif-transparente-baila-vagonettas">
			</div>
			<div ng-if="name=='allahu akbar'">
				<img src="https://media.giphy.com/media/HhTXt43pk1I1W/giphy.gif">
			</div>
			
			
			<h4> Sexo: <span ng-bind="ctrl.villanoSeleccionado.sexo"></span></h4>
			<br>
			<input ng-model="ctrl.villanoSeleccionado.sexo">
			<br>
			<h4> Hobbies </h4>
			<div class="list-group">
                <a ng-repeat="hobbie in ctrl.villanoSeleccionado.hobbies" class="list-group-item">{{hobbie}}</a>
            </div>
			
			<input ng-model="ctrl.hobbieInput">
			<a class="btn btn-primary" type="button" ng-click="ctrl.addHobbie()">Agregar</a>
			
			<h4> Señas </h4>

			<div class="list-group">
                <a ng-repeat="sena in ctrl.villanoSeleccionado.senas_particulares" class="list-group-item">{{sena}}</a>
            </div>
			
			<input ng-model="ctrl.senaInput">
			<a class="btn btn-primary" type="button"  ng-click="ctrl.addSena()">Agregar</a>


 			<div class="form-actions">
               <a ng-click="ctrl.guardarVillano()" class="btn btn-primary">Guardar cambios</a>
               <a ng-click="ctrl.cancel()" class="btn btn-primary">Tirar todo a la basura</a>
            </div>
			</div>




			

		</div>
		
		<div class="col-md-2">
		</div>


    </div>
</div>

