
<div class="container">
<h2><strong>Capo tenemos un caso para vos: </strong> </h2>
<div class="col-md-10 text-center">
<div class="well" >
 
<h1> Caso robo :</h1>
<p> Se ha detectado un robo en el pais {{juego.casoActual.get.pais.nombre}} . El valiso objeto </p>
<p> {{juego.caso.objetoRobado}} ha sido robado por un malvado ladron debe atraparlo y traerlo a slavo</p>
<img src="https://cdn.meme.am/cache/instances/folder700/250x250/44922700.jpg">
</div>
</div>
<div class="col-md-5 text-center">

<a ng-click="juego.resolverMisterio()"  class="btn btn-primary">Aceptar caso</a>
</div>
</div>
