    <div class="page-header">
		<div class="col-xs-5 line"><hr></div>
    	<div class="col-xs-2 logo"><img src="https://k61.kn3.net/F/A/5/B/9/3/CB4.png" width=120 height=120></div>
    	<div class="col-xs-5 line"><hr></div>
    </div>
    <div class="col-xs-12" style="height:40px;"></div>
<div class="container">
<div class="col-md-10 text-center">
<div class="well" >
 
<h1> Hay un nuevo caso :</h1>
<p> Se ha detectado un robo en el pais {{juego.casoActual.get.pais.nombre}} . Un objeto</p>
<p> muy valiso ha sido robado por un malvado ladron .Debe atraparlo y traerlo a salvo</p>
</div>
</div>
<div class="col-md-5 text-center">

<a ng-click="juego.resolverMisterio()"  class="btn btn-primary">Aceptar caso</a>
</div>
</div>
