
    
        <div class= "container">
            <div class="page-header">
                <h1 class = "text-center"> <strong> Nuevo pais </strong> </h1>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="well">
                        
                        <h4 class="lead"> <strong> Nombre: </strong>  <span id="nombre" ng-bind="ctrl.nuevoPais.nombre"></span> </h4>
						
						<input ng-model="ctrl.nuevoPais.nombre">
						<br>
                        <div class="panelCarac">
                            <p class="lead"> <strong> Caracteristicas </strong> </p>
                            <button class="btn btn-large btn-primary" type="button">Editar</button>
                        </div>
                        <br>
                       
                        <div class="panelConex">
                            <p class="lead"> <strong> Conexiones </strong> </p>
                            <button class="btn btn-large btn-primary" type="button">Editar</button>
                        </div>
                       <div class="list-group">
                        	<a ng-repeat="conexion in ctrl.nuevoPais.conexiones" class="list-group-item">{{conexion.nombre}}</a>
                        </div>
                        <br>
                        <div class="panelLugares">
                            <p class="lead"> <strong> Lugares de interes </strong> </p>
                            <button class="btn btn-large btn-primary" type="button">Editar</button>
                        </div>
                        <div class="list-group">
                        	<a ng-repeat="lugarDeInteres in ctrl.nuevoPais.lugares" class="list-group-item">{{lugarDeInteres.nombre}}</a>
                        </div>
                        <br>	
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            <button type="button" class="btn btn-primary">Tirar todo a la basura</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
