<div class="page-header">
		<div class="col-xs-5 line"><hr></div>
    	<div class="col-xs-2 logo"><img src="https://k61.kn3.net/F/A/5/B/9/3/CB4.png" width=120 height=120></div>
    	<div class="col-xs-5 line"><hr></div>
    </div>
    <div class="col-xs-12" style="height:40px;"></div>
        <div class= "container">
            <div class="row">
                
                <div class="col-md-4 col-md-offset-4 orden">
                    <div class="well">
                        <div class="panelInfo">
                            <label class="lead"> <strong> Orden de arresto actual para: {{ctrl.ordenEmitidaPara.get.nombre}} </strong> </label>
                        </div>
                        <div class="panelVillanos">
                            <p class="lead"> <strong> Villanos </strong> </p>
                            <br>
                                <div class="list-group" >
 									<a href="" ng-click="ctrl.elegirVillano(villano)" ng-repeat="villano in ctrl.villanos"  class="list-group-item">{{villano.nombre}}</a>

								</div>
                        </div>
                        <div class="form-actions">
                            <button ng-click="ctrl.emitirOrden()" class="btn btn-primary btn-orden">Generar orden de arresto</button>
                            <button type="button" class="btn btn-primary btn-orden">Tirar todo a la basura</button>
                        </div>
                        <br>
                        <img src="https://68.media.tumblr.com/f6f47e10cf1e76b3a55b2147c218a4d2/tumblr_mqs90xiuRU1r2kb4qo1_500.gif" width = 400px; height = 250px;>
                    </div>
                </div>
            </div>
        </div>
   