	<div class="page-header">
		<div class="col-xs-5 line"><hr></div>
    	<div class="col-xs-2 logo"><img src="https://k61.kn3.net/F/A/5/B/9/3/CB4.png" width=80 height=80></div>
    	<div class="col-xs-5 line"><hr></div>
    </div>
        <div class="col-xs-12" style="height:80px;"></div>
    
<div class="container">

    <div class="row">
    	<div class="col-md-4"></div>
    	<div class="col-md-4"  >
    		<div class="well" style="height:400px ;width:400px">
    			<p>{{ctrl.mensaje}}</p>
    			<a ui-sref="resolverMisterio" class="btn btn-primary"> Volver</a>
    			<br>
    			<div ng-if="ctrl.mensaje == 'Quien te conoce boludo! Tomatela te dije!'">
    				<img src="https://cdn.meme.am/cache/instances/folder700/250x250/44922700.jpg">
    			</div>
    		</div>
    	</div>
    	<div class="col-md-4"></div>
    </div>
</div>