<div class="page-header">
		<div class="col-xs-5 line"><hr></div>
    	<div class="col-xs-2 logo"><img src="https://k61.kn3.net/F/A/5/B/9/3/CB4.png" width=120 height=120></div>
    	<div class="col-xs-5 line"><hr></div>
    </div>
<div class="container">
	<div class="col-xs-12" style="height:50px;"></div>

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
	<div class="well" style="height:500px;">
	<div class="text-center">
	
	<p>Estas en: {{juego.ubicacionActual.get.nombre}} </p>
	<div ng-if="ubicacion.nombre == 'Mexico'">
		<img  src="http://www.gifsanimados.org/data/media/829/bandera-de-mexico-imagen-animada-0015.gif" >
	</div>
	<img src="http://www.animatedgif.net/earthglobe/desk_globe_e0.gif" >
	<br>
	<br>
	<br>

  	<a ui-sref="viajar" class="btn btn-primary btn-sx" type="button">Viajar</a>

	<br>
	<br>
	<br>
	<a ui-sref="emitirOrden" class=" btn btn-primary" type="button">Orden de arresto</a>
	<br>
	<br>
	<br>
	<a ui-sref="expedientes" class=" btn btn-primary" type="button">Expedientes</a>
	<br>
	<br>
	<br>
	</div>
	</div>
	
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-md-4" >
	<div class="well" style="height:500px;">
	<div class="text-center">
	<h2><strong>Lugares</strong></h2>
	<br>
	<br>
	<br>
	<div ng-repeat="lugar in juego.ubicacionActual.get.lugares">
	<div class="btn-group-vertical">
		<a ng-click="juego.irALugar(lugar)" class="btn btn btn-primary" type="button">{{lugar.nombre}}</a>
		<br>
	
	</div>
	</div>
	<br>
	<br>
	<br>
	</div>
	</div>
	</div>
 

    </div>
</div>

