
<div class="container">

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
	<div class="well">
	<div class="text-center">
	
	<p>Estas en: {{juego.ubicacionActual.get.nombre}} </p>
	<div ng-if="ubicacion.nombre == 'Mexico'">
		<img  src="http://www.gifsanimados.org/data/media/829/bandera-de-mexico-imagen-animada-0015.gif" >
	</div>
	<img src="http://www.animatedgif.net/earthglobe/desk_globe_e0.gif" >
	<br>
	<br>
	<br>

  	<button class="btn btn-primary btn-sx" type="button">Viajar</button>

	<br>
	<br>
	<br>
	<button class=" btn btn-primary" type="button">Orden de arresto</button>
	<br>
	<br>
	<br>
	<button class=" btn btn-primary" type="button">Expedientes</button>
	<br>
	<br>
	<br>
	</div>
	</div>
	
      </div>
      <div class="col-xs-1">
      </div>
      <div class="col-md-5">
	<div class="well">
	<div class="text-center">
	<h2><strong>Lugares</strong></h2>
	<br>
	<br>
	<br>
	<br>
	<button class="btn btn btn-primary" type="button">{{juego.ubicacionActual.get.lugares[0].nombre}}</button>
	<br>
	<br>
	<br>
	<button class="btn btn btn-primary" type="button">Lugar 2</button>
	<br>
	<br>
	<br>
	<button class="btn btn btn-primary" type="button">Lugar 3</button>
	<br>
	<br>
	<br>
	<br>
	<br>
	</div>
	</div>
	</div>
 

    </div>
</div>

